body{
    margin: 0px;
    height: 100%;
}

header{
    background-color: black;
    height: 130px;
   
}

@media (max-width: 550px) {
    header {
      height: 60px;
      margin-top: 0;
      width: 100%;
      background-color: black;
    }
  }
#contenitore{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.info-item1{
    display: flex;
    height: 60px;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    
}

.info-item1 .material-symbols-outlined{
    color:white;
    font-size: 40px;
}

.info-item1 a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
}

.info-item2{
    display: flex;
    height: 70px;
    width: 40%;
    justify-content: center;
    align-items: center;
}
#contenuto{
    border-radius: 30px;
    height: 40px;
    width: 300px;
    justify-content: space-between;
    background-color: white;
    border-color: white;  
    font-size: 15px;
}

#barra-ricerca{
    margin-top: 25px;
    width: 100%;
}

#ricerca{
    border-radius: 25px;
    border: solid 2px white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 22px;
    height: 30px;
    width: 90px;
}

#btn-cerca{
    border-radius: 25px;
    border: solid 2px white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 22px;
    height: 30px;
    width: 90px;
}

#ricerca:hover{
    background-color: red;
}

.nascosto{
    display: none;
}

.info-item3{
    display: flex;
    height: 60px;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;

}
.info-item3 .material-symbols-outlined{
    color:white;
    font-size: 40px;
}

#buttons{
 display: flex;
 height: 30px;
 justify-content: space-around;
 align-items: center;
 margin: 20px;
 background-color: black;
}
a.button{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}

a.button:hover{
    text-transform: uppercase;
    text-decoration: underline;
}



/*----Lista PRODOTTI----*/
.box{
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-top: 8px;
    border: solid 2px red;
    height: 100%;
    width: 80%;

}
.prodotti{
    display:flex;
    justify-content: left;
    width: auto;
    height:auto;
    border: soldi 2px blue;
    flex-wrap: wrap;
    margin-top: 8px;
}
.prodotto{
    height: 550px;
    width: 270px;
    margin:1%;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.prodotto img {
    width: 100%; /* Imposta la larghezza dell'immagine al 100% dell'elemento genitore */
    height: 70%; /* Imposta l'altezza automaticamente in base al rapporto d'aspetto */
    object-fit: cover; /* Scala e ritaglia l'immagine per riempire l'area specificata mantenendo il rapporto d'aspetto */
}

.prodotto a{
    text-decoration: none; 
    color: black; 
    font-size: 25px;
}

a:hover {
    text-decoration: underline; /* Aggiunge la sottolineatura al passaggio del cursore */
}
#box_totale{
  border: solid 2px green;
  height: 200px;
  width: 85%;
  margin-left: 8%;
}


footer{
    height: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#iscrizione{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    background-color: #f6f6f6;
    margin-top: -55px;
}

.btn-f3{
    margin-top: 2%;
}

a.tasto3{
    padding: 8px 18px;
    border: 2px solid black;
    border-radius: 100px;
    text-decoration: none;
    font-size: 20px;
    color:black;
}

a.tasto3:hover{
    background-color: red;
    border-color:  red;
    color: white;
}

 #iscrizione h2{
    font-family: sans-serif;
    font-size: 32px;
 }

 #iscrizione p{
    font-family: sans-serif;
 }

 #iscrizione  .search1{
    border-radius: 30px;
    border-color: black;
    height: 50px;
    width: 400px;
    justify-content: space-between;
 }
 #generale{
    display: flex;
    height: 30% ;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
    margin-top: 5%;
 }

 .sped{
    display: flex;
    height: 100%;
    width: 350px;
    flex-direction: column;
 }

 .sped-img{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
 }

 .sped-img .material-symbols-outlined{
    color: black;
    font-size: 350%;
    height: 100%;
    margin-left: 250%;
    margin-top: 180%;
    
 }

 .sped-text{
    height: 50%;
    width: 100%;  
 }

 .sped-text p{
    text-align: center;
    font-size: 20PX;
    font-family: sans-serif;
 }


 .cambi{
    height: 100%;
    width: 350px;
 }

 .cambi-img{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
 }

 .cambi-img .material-symbols-outlined{
    color: black;
    font-size: 350%;
    height: 100%;
    margin-left: 250%;
    margin-top: 180%;
    
 }

 .cambi-text{
    height: 50%;
    width: 100%;  
 }

 .cambi-text p{
    text-align: center;
    font-size: 20PX;
    font-family: sans-serif;
 }

 .serv{
    height: 100%;
    width: 350px;
 }

 .serv-img{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
 }

 .serv-img .material-symbols-outlined{
    color: black;
    font-size: 350%;
    height: 100%;
    margin-left: 250%;
    margin-top: 180%;
    
 }

 .serv-text{
    height: 50%;
    width: 100%;  
 }

 .serv-text p{
    text-align: center;
    font-size: 20PX;
    font-family: sans-serif;
 }

 #general-information{
    background-color: black;
    height: 80%;
    display: flex;
    flex-direction: row;
 }

 .lista1{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
 }
 .lista1-elm1{
    height: 10%;
    text-align: left;
    line-height: 60px;
 }
.lista1-elm1 a{
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:white;
   
}
.lista1-elm2{
    height: 10%;
    text-align: left;
    line-height: 60px;
}

.lista1-elm2 a{
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    color:white;
}

 .lista2{
    height: 100%;
    width: 25%;
 }
 
 .lista2-elm1{
    height: 10%;
    text-align: left;
    line-height: 60px;
}
 .lista2-elm1 p{
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 20px;
    color:white;
 }

 .lista2-elm2{
    height: 10%;
    text-align: left;
    line-height: 60px;
}

 .lista2-elm2 a{
    font-family: sans-serif;
    font-size: 20px;
    color:white;
 }

 .lista3{
    height: 100%;
    width: 25%;
 }

 .lista3-elm1{
    height: 10%;
    text-align: left;
    line-height: 60px;
}
 .lista3-elm1 p{
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 20px;
    color:white;
 }
 .lista3-elm2{
    height: 10%;
    text-align: left;
    line-height: 60px;
}
 .lista3-elm2 a{
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 20px;
    color:white;
 }

 .lista4{
    height: 100%;
    width: 25%;
 }

 .lista4-elm1{
    height: 10%;
    text-align: left;
    line-height: 60px;
}
 .lista4-elm1 p{
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 20px;
    color:white;
 }

 .lista4-elm2{
    height: 10%;
    text-align: left;
    line-height: 60px;
}
 .lista4-elm2 a{
    margin-top: -1px;
    font-family: sans-serif;
    font-size: 20px;
    color:white;
 }

#payments{
    display: flex;
    height: 300px;
    margin-top: 1px;
    background-color: black;
    flex-direction: column;
    justify-content: space-around;
}

.pay-icon{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.text-pay{
    display: flex;
    height: 25%;
    width: 40%;
    font-family: sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    justify-content:space-between ;
    align-items: center;
}

.class-icon{
    display: flex;
    height: 25%;
    width: 25%;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    justify-content:space-between ;
    align-items: center;
}

.copi{
    height: 50%;
    font-family: sans-serif;
    font-size: 18px;
    color:white;
    text-decoration: none;
    text-align: center;
}

.azienda{
    font-family: sans-serif;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.azienda:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

.c-text{
    font-family: sans-serif;
    font-size: 18px;
    color:white;
    text-decoration: none;
}
.c-text:hover{
    text-decoration: underline;
    text-transform: uppercase;
}

.copiright{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.mappa{
    font-family: sans-serif;
    font-size: 18px;
    color:white;
    text-decoration: none;
}

.mappa:hover{
    text-decoration: underline;
    text-transform: uppercase;   
}